{"filter":false,"title":".gitignore","tooltip":"/21blackjack/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1590273723256,"hash":"3e294dde6c0aceddb954c354110a6f6c0ed5dc49"}