<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <title>Doom Info</title>
    
    <style type="text/css">
        body, h1, h2, h3, h4, h5, p {
            font-family: "Roboto", serif;
        }
        p{
            color: #e2f3f5;
        }
    </style>
    
</head>


<body style= "background-color:#0e153a">
    
    <div class="w3-row">
        <div class=" w3-container w3-twothird">
        <h1 align="left" style="color: #faee1c" class="w3-mobile">Examen 1</h1>
        <h2 align="left" style="color: #faee1c" class="w3-mobile">Doom Eternal</h2>
        
        <img src="./Images/header.jpg" alt="Lights" class="w3-image w3-round" style="width:100%;max-width:500px">
        
        <p>Los jugadores toman el papel de Doom Slayer, un antiguo guerrero que lucha contra las fuerzas demoníacas 
        del Infierno desde una perspectiva en primera persona. El juego continúa el énfasis de su predecesor en el 
        combate "push-forward", alentando al jugador a atacar agresivamente a los enemigos para adquirir salud y 
        munición. El jugador tiene acceso a varias armas de fuego, como un rifle de plasma, una escopeta súper, un 
        cañón pesado, un lanzador láser y una ballesta. También se pueden usar armas cuerpo a cuerpo como una 
        motosierra, la cuchilla crisol y una cuchilla retráctil. El brazo ofrece la oportunidad de una mayor 
        variedad de ejecuciones rápidas y violentas de "muerte gloriosa". La Súper Escopeta ahora está equipada 
        con un "Gancho de Carne", que lanza al jugador hacia un enemigo, funcionando como un garfio en ambos 
        escenarios de combate y navegación ambiental. Armamentos como misiles, lanzagranadas y lanzallamas 
        también se pueden unir a la armadura de Doom Slayer. También se introducirán nuevas mecánicas de 
        movimiento tales como escalar paredes y movimientos de tablero.</p>
        
        <h3 align="left" style="color: #faee1c" class="w3-mobile">Informacion obtenida de Wikipedia</h3>
        
        <a href="https://es.wikipedia.org/wiki/Doom_Eternal" class="w3-button w3-mobile w3-yellow"><i>&nbsp; &nbsp;  Ir a Wikipedia</i></a>
        <p></p>
        
        
        
  </div>
  
  <div class="w3-container w3-third">
    <ul style="color: #e2f3f5">
        <li>Doom 3: Resurrection of Evil.</li>
        <li>Doom 3: BFG Edition.</li>
        <li>Doom (2016).</li>
    </ul>
  </div>

</div>

</body>
</html>