<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style>
            h1 {
                color: #0f117a;
            }
            h4 {
                color: #446491;
            }
            h6 {
                color: #4b89ac;
            }
        </style>
        <!--Import Google Icon Font-->
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <!-- Compiled and minified CSS -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Inicio</title>
    </head>

    <body style="background-color: #e4fcf9;">
        <div>
            <nav>
                <div style="background-color: #446491;" class="nav-wrapper">
                    <a style="padding-left: 1rem;" href="#!" class="brand-logo"
                        >Inicio</a>
                    <a
                        href="#"
                        data-target="mobile-demo"
                        class="sidenav-trigger"
                        ><i class="material-icons">menu</i></a
                    >
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/alta-paciente">Alta</a></li>
                        <li><a href="/lista-pacientes">Lista de pacientes</a></li>
                    </ul>
                </div>
            </nav>

            <ul class="sidenav" id="mobile-demo">
                <li><a href="/">Inicio</a></li>
                <li><a href="/alta-paciente">Alta</a></li>
                <li><a href="/lista-pacientes">Lista de pacientes</a></li>
            </ul>
        </div>
        <div class="container">
            <h1 style = "text-align: center">Coronavirus</h1>
            <h4>
                ¿Qué es un coronavirus?
            </h4>
            <h6>
                Los coronavirus son una extensa familia de virus que pueden
                causar enfermedades tanto en animales como en humanos. En los
                humanos, se sabe que varios coronavirus causan infecciones
                respiratorias que pueden ir desde el resfriado común hasta
                enfermedades más graves como el síndrome respiratorio de Oriente
                Medio (MERS) y el síndrome respiratorio agudo severo (SRAS). El
                coronavirus que se ha descubierto más recientemente causa la
                enfermedad por coronavirus COVID-19.
            </h6>

            <h4>
                ¿Qué es la COVID-19?
            </h4>

            <h6>
                La COVID-19 es la enfermedad infecciosa causada por el
                coronavirus que se ha descubierto más recientemente. Tanto el
                nuevo virus como la enfermedad eran desconocidos antes de que
                estallara el brote en Wuhan (China) en diciembre de 2019.
            </h6>

            <h4>
                ¿Cuáles son los síntomas de la COVID-19?
            </h4>

            <h6>
                Los síntomas más comunes de la COVID-19 son fiebre, cansancio y
                tos seca. Algunos pacientes pueden presentar dolores, congestión
                nasal, rinorrea, dolor de garganta o diarrea. Estos síntomas
                suelen ser leves y aparecen de forma gradual. Algunas personas
                se infectan pero no desarrollan ningún síntoma y no se
                encuentran mal. La mayoría de las personas (alrededor del 80%)
                se recupera de la enfermedad sin necesidad de realizar ningún
                tratamiento especial. Alrededor de 1 de cada 6 personas que
                contraen la COVID-19 desarrolla una enfermedad grave y tiene
                dificultad para respirar. Las personas mayores y las que padecen
                afecciones médicas subyacentes, como hipertensión arterial,
                problemas cardiacos o diabetes, tienen más probabilidades de
                desarrollar una enfermedad grave. En torno al 2% de las personas
                que han contraído la enfermedad han muerto. Las personas que
                tengan fiebre, tos y dificultad para respirar deben buscar
                atención médica.
            </h6>

            <h4>
                ¿Cómo se propaga la COVID-19?
            </h4>

            <h6>
                Una persona puede contraer la COVID-19 por contacto con otra que
                esté infectada por el virus. La enfermedad puede propagarse de
                persona a persona a través de las gotículas procedentes de la
                nariz o la boca que salen despedidas cuando una persona
                infectada tose o exhala. Estas gotículas caen sobre los objetos
                y superficies que rodean a la persona, de modo que otras
                personas pueden contraer la COVID-19 si tocan estos objetos o
                superficies y luego se tocan los ojos, la nariz o la boca.
                También pueden contagiarse si inhalan las gotículas que haya
                esparcido una persona con COVID-19 al toser o exhalar. Por eso
                es importante mantenerse a más de 1 metro (3 pies) de distancia
                de una persona que se encuentre enferma. La OMS está estudiando
                las investigaciones en curso sobre las formas de propagación de
                la COVID-19 y seguirá informando sobre los resultados
                actualizados.
            </h6>
        </div>
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function () {
                var elems = document.querySelectorAll(".sidenav");
                var instances = M.Sidenav.init(elems, null);
            });
        </script>
    </body>
</html>
