<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="https://kit.fontawesome.com/25a9b686d7.js"></script>
    <title>Rafael Moreno</title>

    <style type="text/css">
        body, h1, h2, h3, h4, h5, p {
            font-family: "Roboto", serif;
        }
        p{
            color: #e2f3f5;
        }
    </style>


</head>
<body style= "background-color:#0e153a">

<div class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-black w3-mobile" style="display:none" id="leftMenu">
    <button onclick="closeLeftMenu()" class="w3-bar-item w3-button w3-large">Cerrar &times;</button>
    <a  href="#acerca" class="w3-bar-item w3-button " onclick="closeLeftMenu()">Acerca de</a>
    <a  href="#habilidades" class="w3-bar-item w3-button " onclick="closeLeftMenu()">Habilidades y conocimientos</a>
    <a  href="#fotos" class="w3-bar-item w3-button " onclick="closeLeftMenu()">Fotos</a>
    <a  href="#deporte" class="w3-bar-item w3-button " onclick="closeLeftMenu()">Deportes</a>
    <a  href="#contacto" class="w3-bar-item w3-button " onclick="closeLeftMenu()">Contacto</a>

    <div class="w3-dropdown-hover  w3-mobile">
        <button class="w3-button w3-mobile">Redes Sociales</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="https://www.facebook.com/rafa.pillo" class="w3-bar-item w3-button w3-mobile"><i class="fab fa-facebook">&nbsp; &nbsp; Facebook</i></a>
            <a href="https://www.instagram.com/rafaa_mc/" class="w3-bar-item w3-button w3-mobile"><i class="fab fa-instagram">&nbsp; &nbsp; Instagram</i></a>
            <a href="https://twitter.com/rafa_pillo" class="w3-bar-item w3-button w3-mobile"><i class="fab fa-twitter-square">&nbsp; &nbsp; Twitter</i></a>
            <a href="https://www.pinterest.com.mx/rafa_pillo/" class="w3-bar-item w3-button w3-mobile"><i class="fab fa-pinterest">&nbsp; &nbsp; Pinterest</i></a>
        </div>
    </div>
</div>

<div style="color: #faee1c">
    <button class="w3-button w3-xlarge w3-left" onclick="openLeftMenu()" style="color: #faee1c">&#9776;</button>
</div>


<h1 align="center" style="color: #faee1c" class="w3-mobile"> Rafael Moreno</h1>
<h3 align="center" style="color: #faee1c" class="w3-mobile">Estudiante y deportista</h3>
<p align="center"><img style="width:100%;max-width:400px" src="Images/Rafa.png" alt="Einstein" class="w3-mobile 3-hover-opacity w3-border w3-round w3-center"></p>

<div id="acerca" class="w3-container w3-margin">

    <div class="w3-bar w3-blue" style="color: #e2f3f5">
        <div class="w3-bar-item">Acerca de mi</div>
    </div>

    <p style="color: #e2f3f5"> Mi nombre es Rafael Moreno Cañas, nací el 17 de abril de 1997. </p>
    <p>Actualmente estudio la carrera de Ing. Sistemas Computacionales en el Instituto Tecnologico y de Estudios Superirores de Monterrey.
        Pertenezco al equipo representativo de natación del ITESM CEM, he acudido a diversas competencias nacionales. </p>
    <p>Actualmente me encuentro laborando en la empresa Unilever como intern de TI, entre mis principales actividades se destacan las
        siguientes:  </p>
    <ul style="color: #e2f3f5">
        <li>Optimización de procesos</li>
        <li>Soporte a usuarios</li>
        <li>Diseño de apps</li>
        <li>Soporte en DataLake</li>
    </ul>
</div>

<div id="habilidades" class="w3-container w3-margin">

    <div class="w3-bar w3-blue" style="color: #e2f3f5">
        <div class="w3-bar-item">Habilidades y conocimientos</div>
    </div>

    <p> Como estudiante de Ing. Sistemas Computacionales he adquirido diversos conocimientos y aptitudes,
    de entre las cuales se destacan las siguientes: </p>

    <ul style="color: #e2f3f5">
        <li>Liderazgo</li>
        <li>Trabajo en equipo</li>
        <li>Programación</li>
        <li>Natación</li>
    </ul>
    <p> Entre algunos de mis conocimientos de programación se destacan los lenguajes de Python, Java, Clojure,
    C, SQL, Kotlin.</p>
    <p> Como estudiante me considero bastante autodidacta, en el entendido que tengo la capacidad de aprender por mi propia cuenta,
    esto facilita que pueda mejorar exponencialmente en mis habilidades de programación, entre muchas más actividades.</p>
</div>

<div id="fotos" class="w3-container w3-margin">

    <div class="w3-bar w3-blue" style="color: #e2f3f5">
        <div class="w3-bar-item">Fotos</div>
    </div>

    <div class="w3-row">
        <div class="w3-half w3-container">
            <p align="right"><img src="Images/Rafa1.jpeg" alt="Lights" class="w3-image w3-round" style="width:100%;max-width:500px"></p>
            <p></p>
            <p align="right"><img src="Images/Rafa2.jpg" alt="Lights" class="w3-image w3-round" style="width:100%;max-width:500px"></p>
            <p></p>
            <p align="right"><img src="Images/Rafa3.jpg" alt="Lights" class="w3-image w3-round" style="width:100%;max-width:500px"></p>
            <p></p>
        </div>
        <div class="w3-half w3-container" >
            <p align="left"><img src="Images/Rafa4.jpg" alt="Lights" class="w3-image w3-round" style="width:100%;max-width:500px"></p>
            <p></p>
            <p align="left"> <img src="Images/Rafa5.jpg" alt="Lights" class="w3-image w3-round" style="width:100%;max-width:500px"></p>
            <p></p>
            <p align="left"> <img src="Images/Rafa6.jpg" alt="Lights" class="w3-image w3-round" style="width:100%;max-width:500px"></p>
            <p></p>
        </div>
    </div>
</div>

<div id="deporte" class="w3-container w3-margin">

    <div class="w3-bar w3-blue" style="color: #e2f3f5">
        <div class="w3-bar-item">Deportes</div>
    </div>

    <p> Durante toda mi vida he practicado la natación como un deporte de alto rendimiento, esta me ha traido diversos logros
    no solo en lo deportivo, sino también en mi círculo de amigos y un gran apoyo en mi carrera profesional</p>
    <p>He participado en diversas competencias a lo largo de mi carrera profesional, representado no solo a mi institución a nivel nacional,
    sino además representando a mi estado.</p>
    <p> Actualmente me encuentto dentro del equipo representativo del ITESM CEM en dónde me destacó por ser nadador de velocidad en
    distintas pruebas. Algunos de mis logros más destacados son los siguientes: </p>

    <ul style="color: #e2f3f5">
        <li>Tercer año consecutivo como sub-campeones del Campeonato CONADEIP.</li>
        <li>Cuarta mejor marca nivel nacional en los 100m C.I.</li>
        <li>Tercer mejor marca nivel nacional en los 50m dorso.</li>
    </ul>
</div>

<div id="contacto" class="w3-container w3-margin">
    <div class="w3-bar w3-blue" style="color: #e2f3f5">
        <div class="w3-bar-item">Contactame</div>
    </div>

    <form class="w3-container" style="color: #e2f3f5">
        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="last" type="text" placeholder="Nombre completo">
            </div>
        </div>

        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="email" type="text" placeholder="Email">
            </div>
        </div>

        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="message" type="text" placeholder="Mensaje">
            </div>
        </div>

        <button class="w3-button w3-blue">Enviar</button>
    </form>
    <p></p>

    <div class="w3-bar-block">
        <div class="w3-bar-item" style="color: #e2f3f5"><i class="fas fa-map-marker-alt"> </i>&nbsp; &nbsp; Atizapan de Zaragoza, Edo México</div>
        <div class="w3-bar-item" style="color: #e2f3f5"><i class="fas fa-phone-alt"></i>&nbsp; &nbsp;(55) 1234 5678</div>
        <div class="w3-bar-item" style="color: #e2f3f5"><i class="fas fa-envelope"></i>&nbsp; &nbsp;rafa_pillo@hotmail.com</div>
    </div>

</div>

<script>
    function openLeftMenu() {
        document.getElementById("leftMenu").style.display = "block";
    }

    function closeLeftMenu() {
        document.getElementById("leftMenu").style.display = "none";
    }
</script>

</body>
</html>

